@media screen and (max-width:858px) {
    .sobreMi__contenedor__Arania {
        display: none;
    }

    .sobreMi__contenedor {
        justify-content: center;
        padding: 0 1rem 0 1rem;
    }

    .sobreMi__titulo {
        text-align: center;
        padding-bottom: .5rem;
    }

    .sobreMi__parrafo {
        white-space: normal;
        text-align: justify;
    }
}