.main__contenedor__principal{
    background-color: var(--color-negro);
}

.sobreMi__contenedor__principal {
    height: 70vh;
    display: flex;
    justify-content: center;
    color: var(--color-blanco);

}

.sobreMi__contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 90%;
    background-color: var(--color-Rojo3);
    border-radius: 50px 50px ;
    -webkit-border-radius: 50px 50px ;
    -moz-border-radius: 50px 50px ;
    -ms-border-radius: 50px 50px ;
    -o-border-radius: 50px 50px ;
}


.sobreMi__titulo {
    font-size: var(--font-size-h2);
    font-weight: bold;
    font-family: var(--font-family-body);

}

.sobreMi__parrafo {
    font-family: var(--font-family-body);
    font-size: var(--font-size-h4);
    white-space: pre-line;
}
.sobreMi__parrafo:nth-child(3){
  padding-top: 10px;
}
.sobreMi__contenedor__Arania{
display: flex;
align-self: center;
}

.sobreMi__contenedor__Arania
{
height: 100%;
}