@media screen and (max-width:858px) {

    .contacto__contenedor__principal {
        border-radius: 50px 50px;
    }
    .contacto__contenedor {
       height: 800px;
      }

    .contacto__contenedor__form {
        height: 480px;
      }

    .contacto__contenedor__img {
        display: none;
    }
    .contacto__contenedor__form {
        width: 300px;
      }
}