.experiencia__contenedor__principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../../../img/xp__fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--color-blanco);
}

.experiencia__contenedor__titulo {
    color: var(--color-blanco);
    font-size: 42px;
    font-family: var(--font-family-zen);
    padding: 3rem 0 2rem 0;
}

.experiencia__card {
    display: flex;
    padding: 15px 0 25px 0;
}

.experiencia__card:nth-child(2n) {
    flex-direction: row-reverse;
}

.experiencia__img__impar {
    display: none;
}

.experiencia__img__impar.activa {
    display:flow-root;
    animation: slide-in-left 5.5s alternate cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    -webkit-animation: slide-in-left 5.5s alternate cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.experiencia__titulo {
    font-size: var(--font-size-h2);
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-40%);
        opacity: 0;
        -webkit-transform: translateX(-40%);
        -moz-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
        -o-transform: translateX(-40%);
}

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.experiencia__img__impar.activa1 {
    display:flow-root;
    animation: slide-in-right 5.5s alternate cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    -webkit-animation: slide-in-right 5.5s alternate cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(40%);
        opacity: 0;
        -webkit-transform: translateX(40%);
        -moz-transform: translateX(40%);
        -ms-transform: translateX(40%);
        -o-transform: translateX(40%);
}

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.experiencia__info {
    margin: 1rem;
    padding: 1rem;
    align-self: center;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    width: 330px;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experiencia__descripcion__button {
    width: 120px;
    height: 30px;
    background-color: var(--color-negro);
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.4s;
    margin: 1rem;
    color: var(--color-blanco);
}

.experiencia__descripcion__button:hover {
    box-shadow: 5px 6px 0px var(--color-blanco);
}